@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Área Administrativa</h1>
        <p class="lead">Seja bem vindo, utilize o menu lateral ou botões abaixo ter
            acesso aos diferentes cadastros de sua Pokédex</p>
        <hr class="my-4">
        <a class="btn btn-danger btn-lg" asp-action="Index" asp-controller="Pokemons" role="button">Pokémons</a>
        <a class="btn btn-secondary btn-lg" asp-action="Index" asp-controller="Types" role="button">Tipos</a>
    </div>
</div>

