@model Pokedex.Models.Pokemons
@{
    ViewData["Title"] = "Pokémons";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Pokémon</h1>
<h4>Detalhes</h4>
<hr />
<div class="row">
    <div class="col">
        <div class="form-row">
            <div class="col-md-3">
                <div>
                    <label asp-for="Image" class="form-label"></label>
                    <img src="@Model.Image" class="img-fluid border" id="PreviewImage" />
                    <div class="btn-group">
                        @foreach (var item in Model.Types)
                        {
                            <button class="btn my-2 text-white" style="background-color:@item.Type.Color">
                                @item.Type.Name
                            </button>
                        }
                    </div>
                    <div class="form-group mt-3">
                        <a class="btn btn-info" asp-action="Edit" asp-route-id="@Model.Number">Alterar</a>
                        <a asp-action="Index" class="btn btn-danger">Voltar</a>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="form-row">
                    <div class="form-group col-md-2">
                        <label asp-for="Number" class="control-label"></label>
                        <input asp-for="Number" class="form-control" disabled />
                    </div>
                    <div class="form-group col-md-10">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" disabled/>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control" rows="3" disabled></textarea>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label asp-for="GenerationId" class="control-label"></label>
                        <input asp-for="Generation.Name" class="form-control" disabled/>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="GenderId" class="control-label"></label>
                        <input asp-for="Gender.Name" class="form-control" disabled/>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label asp-for="Height" class="control-label"></label>
                        <input asp-for="Height" class="form-control" disabled/>
                    </div>
                    <div class="form-group col-md-3">
                        <label asp-for="Weight" class="control-label"></label>
                        <input asp-for="Weight" class="form-control" disabled/>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="EvolvedFrom" class="control-label"></label>
                        <input asp-for="PokemonBase.Name" class="form-control" disabled/>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="AnimatedImg" class="control-label"></label>
                    <input asp-for="AnimatedImg" class="form-control" disabled/>
                </div>
            </div>
        </div>
        
    </div>
</div>
